*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'iranyekanwebmedium','Courier New', Courier, monospace;
    background-color: #F1F1F3;
}
header{
    position: sticky;
    top: 0;
   display: flex;
   align-items: center;
   justify-content: center;


}
/* 1200 - ... */
nav{
    padding: 21px 7px 7px 21px ;
    background-color: rgba(255, 255, 255, 0.72);
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
    width: 1170px;
    margin-left: 10px;
    margin-right: 10px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
    z-index: 99;


}
.left-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.hamber-menu{
    width: 27px;
    display: none;
}
.nav-links{
 
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    gap:10px;
    margin:0 20px 0 20px
  
}
.nav-links a{
    text-decoration: none;
    color: #515154;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.nav-links li{
     margin: 10px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;

}
.nav-links li:hover{
    background-color: #cacacf;
    color: #000000;
}
.register-btn{
    font-family:'YekanBakhMedium','Courier New', Courier, monospace;
    color:#ffffff ;
    background-color: #0a33ff;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    
}
.register-btn:hover{
    background-color:#0322C7 ;
}
.more-menu{
    display: flex;
}
.more-menu img{
    width: 8px;
    margin-right: 5px;
    }
.logo{
     width: 100px;
     display: inline-block;
     
}
.hero{
    background-color: #191B30;
    height: 500px;
    border-radius: 20px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFF;
    align-items: center;
    padding: 15px;

  
}
.top-hamber{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.hamber-menu-panel{
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 20px;
    transform: translateY(-100%);
    
}
.hamber-menu-panel ul{
    list-style: none;

}
.hamber-menu-panel a{
   text-decoration: none;
   display: inline-block;
   padding: 10px;
   color: #000000;
   font-family: "iranyekanwebmedium";
   font-size: 1rem;
}
.close-icon{
    width: 20px;
}
 /* 767px- 990 */
@media (max-width :990px){
    nav{
        width: auto;
    }
    .register-btn{
        display: none;
    }
    .nav-links li{
     margin: 0;
    }
   

}
 /* 0- 767px */
@media (max-width :767px){
  .nav-links{
     display: none;
    }
     nav{
        width: auto;
        padding: 10px 8px;

    }
     .hamber-menu{
        display: block;
    }
     .register-btn{
        display: block;
    }
}

/* 990-1200 */
@media (max-width :1200px){
    nav{
        width: 940px;
    }
   
}

@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.show-hamburger-menu{
    animaton:fadeInDown 0.35s forwards;
}

.services-menu{
    top: 0;
     left: -90px;
     width: 240px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    margin-top: 80px;
}
.services-menu a:hover{
background-color: #c9c9c9;
}
.service-title{
    font-family:'iranyekanwebmedium','Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 0.9rem;
    color: #000000;

}
.service-subtitle{
    font-family:'iranyekanwebmedium','Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 0.7rem;
    color: #a4a3a3;
    margin-top: 10px;
}
#show-services-menu{
    position: relative;

}